<html>
<head>
    <!-- Libraries -->
    <script src="/lib/cantabile-js.js?v=15"></script>
    <script src="/lib/vue.min.js"></script>
    <script src="/lib/vue-router.min.js"></script>
    <script src="/lib/smoothscroll.min.js"></script>
    <!-- Data -->
    <script src="/lib/midi-controllers.js"></script>
    <script src="/lib/config.js"></script>
    <script src="/lib/bindings.js"></script>

    <!-- Styles -->
    <link href="/styles.css?v=15" type="text/css" rel="stylesheet" />

    <!-- Scale -->
    <meta name="viewport" content="initial-scale=1">

    <meta charset="UTF-8">

    <!-- App Manifest -->
    <link rel="manifest" href="/manifest.json">

    <title>Michael's Cantabile WebUI</title>
</head>
<body>
<div id="app">
    <header>
        <button id="fullScreen" onclick="goFullscreen()"></button>
        <div id="clock">
        </div>
        <ul>
            <li><router-link to="/setlist">Set List</router-link></li>
            <li><router-link to="/states">States</router-link></li>
            <li><router-link to="/notes">Notes</router-link></li>
            <!-- <li><router-link to="/programs">Programs</router-link></li> -->
        </ul>
    </header> 

    <status-panel></status-panel>

    <main> 
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
        <midi-controllers ref="midiControllers"></midi-controllers>
    </main> 

    <footer> 
        <div class="leftControls">
            <button id="panic" onclick="onPanic()"></button>
        </div>
        <transport-buttons></transport-buttons>
        <div class="rightControls">
            <button id="continue" onclick="onContinue()" class="busy">
                <div id="busySpinner" class="lds-dual-ring"></div>
            </button>
        </div>
    </footer>
</div>

<template id="status-panel-template">
    <div class="status-panel">
        <h1>{{display()}}</h1>
    </div>
</template>
    
    
<template id="setlist-template">
    <div class="itemlist">
        <h1>{{name}}</h1>
        <div v-for="(i, index) in items" v-bind:class="itemClasses(i)" v-on:click="loadSong(index)">
            <span v-if="i.kind == 'song'" class="pr">{{i.pr+1}}</span>
            <span class="title">{{i.name}}</span>
        </div>
    </div>
</template>

<template id="states-template">
    <div class="itemlist">
        <div class="item" v-for="(i, index) in items" v-bind:class="itemClasses(i)" v-on:click="loadState(index)">
            <span class="pr">{{i.pr+1}}</span>
            <span class="title">{{i.name}}</span>
        </div>
    </div>
</template>

<template id="notes-template">
    <div class="notelist">
        <!--h1>{{name}}</h1>
        <h2>{{currentState}}</h2-->
        <div class="note" v-for="(i, index) in items" v-bind:style="itemStyles(i)" >
            <img class="noteImage" v-bind:style="imageStyles(i)" :src="i.imageUrl" :width="i.imageWidth * i.imageScale" height="auto"/>
            <div class="noteText" v-bind:style="textStyles(i)" v-bind:class="textClasses(i)">{{i.text}}</div>
        </div>
    </div>
</template>

<template id="programs-template">
    <div class="programlist">
        <h2>{{currentProgram}}</h2>
        <div class="program" v-for="(i, index) in items">
            <p>{{i.text}}</p>
        </div>
    </div>
</template>

<template id="transportButtons-template">
    <div class="transportButtons">
        <button id="play" v-bind:class="{checked: state=='playing'}" v-on:click="play()"></button>
        <button id="pause" v-bind:class="{checked: state=='paused'}" v-on:click="pause()"></button>
        <button id="stop" v-on:click="stop()"></button>
    </div>
</template>

<template id="controller-slider-template">
    <div class="midiControllerSlider">
        <div class="controllerBar">
            <div class="controllerBarFill" v-bind:style="{ height: 'controller.binding.level%' }"></div>
        </div>
        <div class="controllerLabel">
            <p>{{controller.binding.target}}</p>
        </div>
    </div>
</template>

<template id="controller-knob-template">
    <div class="midiControllerKnob">
        <div class="controllerCircle">
            <div class="controllerCircleFill" v-bind:style="{ width: 'controller.binding.level%' }"></div>
        </div>
        <div class="controllerLabel">
            <p>{{controller.binding.target}}</p>
        </div>
    </div>
</template>

<template id="controller-button-template">
    <div class="midiControllerButton">
        <div class="controllerButton">
        </div>
        <div class="controllerLabel">
            <p>{{controller.binding.target}}</p>
        </div>
    </div>
</template>

<template id="midi-controllers-template">
    <div class="midiControllers">
        <table>
            <tr>
                <td v-for="(c, index) in knobControllers">
                    <midi-controller-knob
                        v-bind:key="c.cc"
                        v-bind:controller="c">
                    </midi-controller-knob>
                </td>
            </tr>
            <tr>
                <td v-for="(c, index) in sliderControllers">
                    <midi-controller-slider
                        v-bind:key="c.cc"
                        v-bind:controller="c">
                    </midi-controller-slider>
                </td>
            </tr>
            <tr>
                <td v-for="(c, index) in buttonControllers1">
                    <midi-controller-button
                        v-bind:key="c.cc"
                        v-bind:controller="c">
                    </midi-controller-button>
                </td>
            </tr>
            <tr>
                <td v-for="(c, index) in buttonControllers2">
                    <midi-controller-button
                        v-bind:key="c.cc"
                        v-bind:controller="c">
                    </midi-controller-button>
                </td>
            </tr>
        </table>
        <span id="controllersPage">{{ page }} / {{ maxPages }}</span>
        <button v-on:click="nextPage">Next Page</button>
    </div>
</template>


<script>

	// Create an instance of the Cantabile library and connect it
	const C = new Cantabile('ws://192.168.1.75:35007/api/socket/');
    C.connect();

    // Open the bindings endpoint so target bindings can be invoked
    // via WebSockets instead of REST

    /// Open the application endpoint so we can watch for busy status
    C.application.open();

    function updateBusyIndicator() {
        if (C.application.busy || C.state != "connected")
            document.getElementById("continue").classList.add("busy");
        else
            document.getElementById("continue").classList.remove("busy");
    }

    C.application.on('busyChanged', updateBusyIndicator);
    C.on('stateChanged', updateBusyIndicator);

    // SetList component
    const SetList = {
        data: function() {
            return {
                items: C.setList.items,
                currentSong: C.setList.currentSong,
                name: C.setList.name,
            };
        },
        created: function() {
            C.setList.on('changed', this.h1 = (function() {
                this.items = C.setList.items;
                this.currentSong = C.setList.currentSong;
                this.name = C.setList.name;
                if (this.oldScrollPosition === undefined) {
                    scrollIntoView(this.$el, "div.item.active", "instant");
                }
                if (this.name == config.programSetlist) {
                    // TODO: Program mode
                }
                else {
                    // TODO: Setlist/Song mode
                }
            }).bind(this));
            C.setList.on('currentSongChanged', this.h2 = (function() {
                this.currentSong = C.setList.currentSong;
                scrollIntoView(this.$el, "div.item.active", "smooth");
            }).bind(this));
            C.setList.open();
        },
        beforeDestroy: function() {
        },
        destroyed: function() {
            C.setList.removeListener('changed', this.h1);
            C.setList.removeListener('currentSongChanged', this.h2);
            C.setList.close();
        },
        beforeRouteLeave: function(to, from, next) {
            this.oldScrollPosition = document.querySelector("body").scrollTop;
            next();
        },
        beforeRouteEnter: function(to, from, next) {
            next(function(vm) {
                Vue.nextTick(function() {
                    document.querySelector("body").scrollTop = vm.oldScrollPosition;
                });
            });
            next();
        },
		methods: {
			loadSong: function(item)
			{
				C.setList.loadSongByIndex(item);
			},
			itemClasses: function(item)
			{
				return {
					"active": this.currentSong === item,
					"item": item.kind == 'song',
					"item-break": item.kind == 'break',
				}
            }
		},
        template: '#setlist-template',
    }

    // State component
    const States = {
        data: function() {
            return {
                items: C.songStates.items,
                currentState: C.songStates.currentSong,
                name: C.songStates.name,
            };
        },
        created: function() {
            C.songStates.on('changed', this.h1 = (function() {
                this.items = C.songStates.items;
                this.currentState = C.songStates.currentState;
                this.name = C.songStates.name;
                if (this.oldScrollPosition === undefined)
                {
                    scrollIntoView(this.$el, "div.item.active", "instant");
                }
            }).bind(this));
            C.songStates.on('currentStateChanged', this.h2 = (function() {
                this.currentState = C.songStates.currentState;
                scrollIntoView(this.$el, "div.item.active", "smooth");
            }).bind(this));
            C.songStates.on('reload', this.h3 = (function() {
                delete this.oldScrollPosition;
            }).bind(this));
            C.songStates.open();
        },
        destroyed: function() {
            C.songStates.removeListener('changed', this.h1);
            C.songStates.removeListener('currentStateChanged', this.h2);
            C.songStates.removeListener('reload', this.h3);
            C.songStates.close();
        },
        beforeRouteLeave: function(to, from, next) {
            this.oldScrollPosition = document.querySelector("body").scrollTop;
            next();
        },
        beforeRouteEnter: function(to, from, next) {
            next(function(vm) {
                Vue.nextTick(function() {
                    document.querySelector("body").scrollTop = vm.oldScrollPosition;
                });
            });
            next();
        },
		methods: {
			loadState: function(item)
			{
				C.songStates.loadStateByIndex(item);
			},
			itemClasses: function(item)
			{
				return {
					"active": this.currentState === item,
				}
			}
		},
        template: '#states-template',
    }


    // Notes component
    const Notes = {
        data: function() {
            return {
                items: C.showNotes.items,
                name: C.song.name,
                currentState: C.song.currentState,
            };
        },
        created: function() {
            C.showNotes.on('changed', this.h1 = (function() {
                this.items = C.showNotes.items;
            }).bind(this));
            C.song.on('nameChanged', this.h2 = (function() {
                this.name = C.song.name;
            }).bind(this));
            C.song.on('currentStateChanged', this.h3 = (function() {
                this.currentState = C.song.currentState;
            }).bind(this));
            C.showNotes.open();
            C.song.open();
        },
        destroyed: function() {
            C.showNotes.removeListener('changed', this.h1);
            C.song.removeListener('nameChanged', this.h2);
            C.song.removeListener('currentStateChanged', this.h3);
            C.showNotes.close();
            C.song.close();
        },
		methods: {
			itemStyles: function(item)
			{
				return {
                    "display": item.hidden ? "none" : null,
                    "background-color": backgroundColors[item.backgroundColor],
				}
			},
            textClasses: function(item)
            {
                return {
                    "placeOverImage": !!item.imageUrl,
                }
            },
			textStyles: function(item)
			{
				return {
                    "font-family": item.fixedPitch ? "'Courier New', monospace" : null,
                    "font-weight": item.bold ? "bold" : null,
                    "text-align": item.textAlign,
                    "font-size": "" + item.fontSize + "px",
                    "color": foregroundColors[item.textColor],
				}
			},
            imageStyles: function(item)
            {
                return {
                    "display": item.imageUrl ? null : "none",
                }
            },
		},
        template: '#notes-template',
    }

    // Programs component
    const Programs = {
        data: function() {
            return {
                items: [
                    {"text": "Piano", "image": "https://www.blairacademyforthearts.com/wp-content/uploads/2018/05/piano.png"},
                    {"text": "Organ", "image": "https://sheetmusicplus.files.wordpress.com/2014/07/footpropelled_organ.jpg"},
                    {"text": "Synthesiser", "image": "https://62e528761d0685343e1c-f3d1b99a743ffa4142d9d7f1978d9686.ssl.cf2.rackcdn.com/files/48125/width754/y63kwjsk-1399607103.jpg"}
                ],
                currentProgram: "Piano"
            };
        },
        template: "#programs-template"
    }

    // Tranport Controller
	Vue.component('transport-buttons', {
		data: function() { 
            return {
                state: C.transport.state,
            }
        },
        created: function() {
            C.transport.on('stateChanged', this.h1 = (function() {
                this.state = C.transport.state;
            }).bind(this));
            C.transport.open();
        },
        destroyed: function() {
            C.transport.removeListener('stateChanged', this.h1);
            C.transport.close();
        },
		methods: {
            play: function() 
            {
                C.transport.play();
            },
            pause: function()
            {
                C.transport.togglePause();
            },
            stop: function()
            {
                C.transport.stop();
            }
		},
        template: '#transportButtons-template',
	});

    Vue.component('status-panel', {
		data: function() { 
            return {
                songName: C.song.name,
                stateName: C.song.currentState,
                tempo: C.transport.tempo,
                timeSignature: C.transport.timeSignature,
                state: C.state,
            }
        },
        created: function() {
            C.song.on('changed', this.h1 = (function() {
                this.songName = C.song.name;
                this.stateName = C.song.currentState;
            }).bind(this));
            C.transport.on('tempoChanged', this.h2 = (function() {
                this.tempo = C.transport.tempo;
            }).bind(this));
            C.transport.on('timeSignatureChanged', this.h3 = (function() {
                this.timeSignature = C.transport.timeSignature;
            }).bind(this));
            C.on('stateChanged', this.h4 = (function() {
                this.state = C.state;
            }).bind(this));
            C.song.open();
            C.transport.open();
        },
        destroyed: function() {
            C.song.removeListener('stateChanged', this.h1);
            C.song.close();
            C.transport.removeListner('tempoChanged', this.h2);
            C.transport.removeListener('timeSignatureChanged', this.h3);
            C.transport.close();
            C.removeListener('stateChanged', this.h4);
        },
        methods: 
        {
            display: function()
            {
                if (this.state != "connected")
                    return "(disconnected)"
                var str = this.songName == null ? "NewSong" : this.songName;
                if (this.stateName)
                    str += " - " + this.stateName;
                if (this.tempo != 0)
                    str += " - " + this.timeSignature + " - " + this.tempo + "bpm";
                return str;
            }
        },
        template: "#status-panel-template",
    });

    var MidiControllerSlider = {
        props: ['controller'],
        template: "#controller-slider-template"
    }

    var MidiControllerKnob = {
        props: ['controller'],
        template: "#controller-knob-template"
    }

    var MidiControllerButton = {
        props: ['controller'],
        template: "#controller-button-template"
    }

    var MidiControllers = {
        components: {
            'midi-controller-slider': MidiControllerSlider,
            'midi-controller-knob': MidiControllerKnob,
            'midi-controller-button': MidiControllerButton
        },
        created: function() {
            C.song.on('changed', this.h1 = (function() {
                if (C.song.name === null) {
                    return;
                }
                this.loadBindings(C.song.name);                
            }).bind(this));
            C.bindings.watch("midiOutputPort.Parameters out", null, {channel:15, kind:"Controller", controller:3}, this.goToPage);
            C.bindings.open();
        },
        data: function() {
            return {
                page: 1,
                maxPages: 4,
                allControllers: config.korgControllers,
                currentBindings: {}
            }
        },
        methods: {
            nextPage: function(event) {
                if (this.page == this.maxPages) {
                    this.page = 1;
                }
                else {
                    this.page += 1;
                }
            },
            goToPage: function(page) {
                this.page = page + 1;
            },
            controllerChange: function(target, cc, value) {
                console.log("controller change", target + " " + cc + " " + value);
            },
            loadBindings: function(song) {
                if (!bindings.hasOwnProperty(song.toLowerCase())) {
                    this.currentBindings = {};
                }
                else {
                    this.currentBindings = bindings[song.toLowerCase()];
                }
                for (var page in this.allControllers) {
                    for (var controller of this.allControllers[page]) {
                        if (this.currentBindings.hasOwnProperty(controller.channel)) {
                            if (this.currentBindings[controller.channel].hasOwnProperty(controller.cc)) {
                                var binding = this.currentBindings[controller.channel][controller.cc];
                                controller.addBinding(binding);
                                C.bindings.watch("midiOutputPort.Parameters out", null, {channel:controller.channel-1, kind:"Controller", controller:controller.cc}, this.controllerChange.bind(this, binding.target, controller.cc));
                                continue;
                            }
                        }
                        controller.addBinding(emptyBinding);
                    }
                }
            }
        },
        computed: {
            pageControllers: function() {
                return this.allControllers[this.page];
            },
            sliderControllers: function() {
                var toReturn = [];
                for (var i in this.pageControllers) {
                    var controller = this.pageControllers[i];
                    if (controller.uiType == UIType.slider) {
                        if (controller.binding !== null) {
                            toReturn.push(controller);
                        }
                    }
                }
                return toReturn;
            },
            knobControllers: function() {
                var toReturn = [];
                for (var i in this.pageControllers) {
                    var controller = this.pageControllers[i];
                    if (controller.uiType == UIType.knob) {
                        if (controller.binding !== null) {
                            toReturn.push(controller);
                        }
                    }
                }
                return toReturn;
            },
            buttonControllers1: function() {
                var toReturn = [];
                var j = 0;
                for (var i in this.pageControllers) {
                    if (j % 2 == 1) {
                        j++;
                        continue;
                    }
                    var controller = this.pageControllers[i];
                    if (controller.uiType == UIType.button) {
                        if (controller.binding !== null) {
                            toReturn.push(controller);
                        }
                    }
                    j++;
                }
                return toReturn;
            },
            buttonControllers2: function() {
                var toReturn = [];
                var j = 0;
                for (i in this.pageControllers) {
                    if (j % 2 == 0) {
                        j++;
                        continue;
                    }
                    var controller = this.pageControllers[i];
                    if (controller.uiType == UIType.button) {
                        if (controller.binding !== null) {
                            toReturn.push(controller);
                        }
                    }
                    j++;
                }
                return toReturn;
            }
        },
        destroyed: function() {
            C.song.removeListener('changed', this.h1);
        },
        template: "#midi-controllers-template"
    }

    // Routes
    const routes = [
        { path: '/setlist', component: SetList },
        { path: '/states', component: States },
        { path: '/notes', component: Notes },
        { path: '/programs', component: Programs},
        { path: '*', redirect: '/setlist' }
    ]

    // Router
    const router = new VueRouter({
        routes, // short for `routes: routes`
    })
    
    // App
    const app = new Vue({
        router,
        components: {
            'midi-controller-slider': MidiControllerSlider,
            'midi-controller-knob': MidiControllerKnob,
            'midi-controller-button': MidiControllerButton,
            'midi-controllers': MidiControllers
        }
    }).$mount('#app');

    // Colors (matches default Dark theme)
    var backgroundColors = [ 
        null, 
        "#6B0B0B","#3B0B0B","#0B3B0B","#0B6B0B","#0B0B6B","#0B0B3B","#6B6B0B",
        "#3B3B0B","#6B0B6B","#3B0B3B","#0B6B6B","#0B3B3B","#6B3B0B", "#3B230B",
    ];
    var foregroundColors = [
        null,
        "#FF0000","#800000","#008000","#00FF00","#0000FF","#000080","#FFFF00",
        "#808000","#FF00FF","#800080","#00FFFF","#008080","#FF8000","#804000",
    ];

    // Helper to scroll an element into view
    function scrollIntoView(parentElement, selector, behavior)
    {
        // Wait till next tick when DOM is loaded
        Vue.nextTick(function() {
            // Find the element
            var el = parentElement.querySelector(selector);
            if (el != null)
            {
                var topOfElement = el.offsetTop - 100;
                window.scroll({ top: topOfElement, behavior: "smooth" });
            }
        });
    }

    function onPanic()
    {
        C.bindings.invoke("global.engine.allSoundsOff");
    }

    
    function goFullscreen()
    {
        if (!document.fullscreenElement)
            document.documentElement.requestFullscreen();
        else
            document.exitFullscreen();
    }

    function onContinue()
    {
        C.bindings.invoke("global.setList.nextSongPartInstant");
    }

    var lastShownTime = "";
    function showTime()
    {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var time = hours + ":" + ("0" + minutes).substr(-2) + ":" + ("0" + seconds).substr(-2);
        if (time != lastShownTime)
        {
            document.querySelector("div#clock").innerHTML = time;
            lastShownTime = time;
        }
    }
    showTime();
    setInterval(showTime, 1000);

    
</script>

<script src="/lib/manup.js"></script>

</body>
</html> 