@import url("fonts/open-sans/open-sans.css");
html {
  position: relative;
  min-height: 100%;
  height: auto!important;
}
body {
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1,
h2 {
  text-align: center;
}
h1 + h2 {
  margin-top: -20px;
}
header {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 50px;
  right: 0px;
  overflow: hidden;
  background-color: #222326;
  color: white;
  text-align: center;
  background-image: url("/CantabileHeader@2x.png");
  background-size: auto 30px;
  background-repeat: no-repeat;
  background-position: 10 10;
}
@media only screen and (max-width: 550px) {
  header {
    background-image: url("/CantabileHeaderIcon@2x.png");
  }
}
header ul {
  padding: 0;
}
header ul li {
  display: inline;
  padding: 10px 10px;
}
header ul li a {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 5px;
}
header ul li a.router-link-active {
  background-color: #002d62;
}
header button#fullscreen {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 70px;
  height: 60px;
}
header div#clock {
  position: absolute;
  right: 80px;
  top: 16px;
}
div.midiControllers {
  position: fixed;
  bottom: 69px;
  border: solid 1px #444;
  border-radius: 3px;
  padding: 5px;
  background-color: #555;
  opacity: 0.5;
}
div.midiControllers td {
  vertical-align: top;
}
div.midiControllers #controllersPage {
  padding: 8px;
  border-radius: 4px;
  background-color: #666;
}
div.midiControllerSlider {
  display: inline-block;
  width: 100px;
  padding: 5px;
  text-align: center;
}
div.midiControllerSlider div.controllerBar {
  position: relative;
  width: 20px;
  height: 100px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 0;
  margin: auto;
}
div.midiControllerSlider div.controllerBar div.controllerBarFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00ff00;
  vertical-align: bottom;
}
div.midiControllerSlider div.controllerLabel {
  font-weight: bold;
  color: white;
}
div.midiControllerKnob {
  display: inline-block;
  width: 100px;
  padding: 5px;
  text-align: center;
}
div.midiControllerKnob div.controllerCircle {
  position: relative;
  width: 40px;
  height: 30px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  /* border-radius: 15px; */
  padding: 0;
  margin: auto;
}
div.midiControllerKnob div.controllerCircle div.controllerCircleFill {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #00ff00;
  vertical-align: middle;
}
div.midiControllerKnob div.controllerLabel {
  font-weight: bold;
  color: white;
}
div.midiControllerButton {
  display: inline-block;
  width: 100px;
  padding: 5px;
  text-align: center;
}
div.midiControllerButton div.controllerButton {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #550000;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 0;
  margin: auto;
}
div.midiControllerButton div.controllerButton.active {
  background-color: #ff0000;
}
div.midiControllerButton div.controllerLabel {
  font-weight: bold;
  color: white;
}
div.status-panel {
  z-index: 100;
  box-sizing: border-box;
  background-color: #222326;
  color: white;
  position: fixed;
  top: 50px;
  left: 0px;
  height: 50px;
  right: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 7px;
  overflow: hidden;
}
div.status-panel h1 {
  font-size: 24px;
  margin-top: 0;
}
footer {
  position: fixed;
  bottom: 0px;
  height: 70px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: #222326;
  color: white;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  border-top: 1px solid black;
}
footer div.leftControls {
  float: left;
}
footer div.rightControls {
  float: right;
}
footer div.transportButtons {
  display: inline-block;
}
header button, footer button, main button {
  height: 100%;
  width: 100px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: #eee;
}
main button {
  min-height: 59px;
}
header button:hover, footer button:hover, main button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
header button:active, footer button:active, main button:active {
  background-color: #0372ed;
}
header button#fullScreen {
  width: 60px;
  height: 80%;
  background-image: url(theme/dark/ZoomIcon@2x.png);
}
footer button#play {
  background-image: url(/theme/dark/PlayButton@2x.png);
}
footer button#play.checked {
  background-image: url(/theme/dark/PlayButton_hot@2x.png);
}
footer button#pause {
  background-image: url(/theme/dark/PauseButton@2x.png);
}
footer button#pause.checked {
  background-image: url(/theme/dark/PauseButton_hot@2x.png);
}
footer button#stop {
  background-image: url(/theme/dark/StopButton@2x.png);
}
footer button#continue {
  background-image: url(/theme/dark/NextButton@2x.png);
}
footer button#panic {
  background-image: url(/theme/dark/PanicButton@2x.png);
}
footer button.busy div {
  display: inline-block;
}
.lds-dual-ring {
  display: none;
  width: 60px;
  height: 57px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid orange;
  border-color: orange transparent orange transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 550px) {
  main {
    margin-bottom: 44px;
  }
  footer {
    height: 44px;
  }
  footer button {
    width: 50px;
    background-size: auto 70%;
  }
  .lds-dual-ring {
    width: 34px;
    height: 32px;
  }
  .lds-dual-ring:after {
    width: 26px;
    height: 26px;
    border-width: 2px;
  }
  div.status-panel h1 {
    font-size: 18px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 450px) {
  div.status-panel h1 {
    font-size: 12px;
    margin-top: 8px;
  }
}
main {
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 25px;
  color: white;
}
@media only screen and (max-width: 979px) {
  main {
    padding: 10px;
  }
}
div.splitter {
  display: flex;
  position: relative;
  overflow: hidden;
  top: 100px;
  height: calc(100vh - 50px -  50px - 70px);
  color: white;
}
@media only screen and (max-width: 979px) {
  div.splitter {
    padding: 10px;
  }
}
div.splitter div.left-panel {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  flex: 0.5;
  padding: 25px;
}
div.splitter div.right-panel {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  flex: 0.5;
  padding: 25px;
}
div.content {
  width: 100%;
  max-width: 950px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #404040;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  padding-bottom: 50px;
}
div.content a {
  color: #404040;
}
@media only screen and (max-width: 979px) {
  div.content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
div.itemlist {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
div.itemlist div.item {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}
div.itemlist div.item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
div.itemlist div.item.active {
  background-color: #0372ed;
}
div.itemlist div.item-break {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
div.noteList div.note {
  padding: 10px;
  position: relative;
  text-align: center;
}
div.noteList div.note img.noteImage {
  max-width: 100%;
}
div.noteList div.note div.noteText {
  white-space: pre;
  font-family: "Segoe UI", "Open Sans";
}
div.noteList div.note div.placeOverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #444;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
